

.text-hide {
	visibility: hidden;
}



.index-section {
	background-image: url(../img/0.png);
	background-size:cover;
}

.one-section {
	background-image: url(../img/1.png);
	background-size:cover;
}

.two-section {
	background-image: url(../img/2.png);
	background-size:cover;
}

.three-section {
	background-image: url(../img/3.png);
	background-size:cover;
}

.four-section {
	background-image: url(../img/4.png);
	background-size:cover;
}


.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	height: 8vh;
	/* background-color: green; */
}



.test1 {
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 40px;
	height: 92vh;
	/* background-color: purple; */
}


.test1-hide {
	display: none;
}

@media print {

.nav {
	display: none;
}
.test1 {
		display: none;
}

.test1-hide {
		display: block;
	}
}


h1 {
	font-family: sans-serif;
	font-size: 8em;
	line-height: 1em;
	color: blue;
	padding-bottom: 2%;
	color: white;
	text-transform: uppercase;

}

h2 {
	font-family: sans-serif;
	line-height: 100%;
	font-size: 4.5em;
	color: white;
	text-transform: uppercase;

}

h3 {
	font-family: sans-serif;
	font-size: 2em;
	color: white;
	text-transform: uppercase;
}

h4 {
	font-family: sans-serif;
	font-size: 16px;
	color: black;
}

.forprint {
	color: black;
}


p {
	font-family: sans-serif;
	font-size: 1.1em;
	padding-bottom: 10px;
	line-height: 1.2em;
	color: white;
	text-transform: uppercase;
}

a {
	color: white;
}
